/* Global */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    background-image: url('../media/gif/void.gif');
    background-size: cover;
    margin: 0;
}

h1 {
    padding: 10px;
    background-color: azure;
}

/* chatbox */
#angelBox {
    width: 250px;
    height: max-content;
    padding: 10px;
    margin-right: 10px;
    background-color: azure;
}

#divChat {
    padding: 10px;
    background-color: azure;
    animation: slide 2.5s forwards;
}

/* animations */
img {
    animation: mover 1.75s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80px); }
}

@keyframes slide {
    0% {width: 0px;}
    100% {width: 99%;}
}