body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url('../media/gif/void.gif');
    background-size: cover;
}

h1 {
    padding: 10px;
    background-color: azure;
}

#angelBox {
    width: 250px;
    height: max-content;
    padding: 10px;
    margin-right: 10px;
    background-color: azure;
}

#divChat {
    padding: 10px;
    height: 50px;
    background-color: azure;
}

/* copied out of internet */
img {
    animation: mover 1.5s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80px); }
}